{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    <div id="headband"></div>
{% endblock %}

{% block container -%}
    <h1>Edit Project</h1>

    {{ form(edit_form) }}

	<a class="button" href="{{ path('project') }}">Back to Projects</a>
	
{% endblock %}
