{% extends "CoralScrumMainBundle::index.html.twig" %}


{% block container %}
    <h1>Select your project</h1>

    <ul class="squareLi">
    {% for project in projects %}
        <li>
            <a href="">
                <span>
                {{ project.name|e }}
                {% if project.owner.id == app.user.id %}
                    <br><br>I am the owner !
                {% endif %}
                </span>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}