# Bootstrap
app/bootstrap*

# Symfony directories
bin/*
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Others
app/SymfonyRequirements.php
app/check.php
web/config.php
