<table id="myTable" class="defaultTab tablesorter">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Start Date</th>
			<th>Duration</th>
			<th>Assigned Tasks</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td class="alignLeft">Sprint 1</td>
			<td>16/10/2013</td>
			<td>42</td>
			<td><a class="button">1</a><a class="button">2</a></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>