<table id="myTable" class="defaultTab tablesorter">
	<thead>
		<tr>
			<th>ID</th>
			<th>Priority</th>
			<th>Title</th>
			<th>Description</th>
			<th>Duration</th>
			<th>Dependencies</th>
			<th>State</th>
			<th>Creation<br>Date</th>
			<th>Start<br>Date</th>
			<th>End<br>Date</th>
			<th>Test<br>Date</th>
			<th>User<br>Story<br>ID</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>5</td>
			<td class="alignLeft">Develop Coral Scrum</td>
			<td class="alignLeft">Develop a tool for Scrum projects...</td>
			<td>12</td>
			<td></td>
			<td>In Progress</td>
			<td>15/10/2013</td>
			<td>16/10/2013</td>
			<td></td>
			<td></td>
			<td><a class="redButton">0</a><a class="orangeButton">0</a><a class="greenButton">0</a><a class="blueButton">0</a><a class="violetButton">0</a></td>
		</tr>
		<tr>
			<td>3</td>
			<td></td>
			<td class="alignLeft"></td>
			<td class="alignLeft"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2</td>
			<td></td>
			<td class="alignLeft"></td>
			<td class="alignLeft"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
