
<ul>
	<li class="first"></li>
	<li class="second">
		<p>
			<span>
				CoralScrum<br>
				<br>
				Released under the MIT License.
		</span>
		</p>
	</li>
	<li class="third">
		<div class="border">
			<div class="container">
				<img src="{{ asset('img/github_white.png') }}" alt="" />
				<a target="_blank" href="https://github.com/thelightbird/CoralScrum">View source on GitHub</a>
			</div>
		</div>
	</li>
</ul>
<div class="clear"></div>
