{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    <div id="headband"></div>
{% endblock %}

{% block container %}

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% else %}
            {% endif %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
        </div>

{% endblock %}

