{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Edit User Story</h1>

    {{ form(edit_form) }}
    
    <a class="button" href="{{ path('userstory', { 'projectId': projectId }) }}">Back to Backlog</a>

{% endblock %}
