{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block container -%}
    <h1>UserStory creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('userstory') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
