{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block container -%}
    <h1>Test creation</h1>

    {{ form(form) }}

    <a class="button" href="{{ path('test', { 'projectId': projectId }) }}">Back to Tests</a>
    
{% endblock %}
