{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Add a new Test</h1>

    {{ form(form) }}

    <a class="button" href="{{ path('test', { 'projectId': projectId }) }}">Back to Tests</a>
    
{% endblock %}
