{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block container %}
    <h1>Add a new task</h1>

    <form action="{{ path('CSM_project_task_add', {'id': 1}) }}" method="post" {{ form_enctype(form) }}>

        {{ form_rest(form) }}

        <input type="submit" name="_submit" value="Add" />
    </form>
{% endblock %}
