{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Task edit</h1>

    {{ form(edit_form) }}

    {{ form(delete_form) }}
    
	<a class="button" href="{{ path('task', { 'projectId': projectId }) }}">Back to the list</a>

{% endblock %}
