{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Edit Task</h1>

    {{ form(edit_form) }}
    
	<a class="button" href="{{ path('sprint_show', { 'projectId': projectId, 'sprintId': sprintId }) }}">Back to the Sprint</a>

{% endblock %}
